{% extends 'base.html.twig' %}
{% block body %}
    <body class="layout-boxed layout-sticky-subnav">
    {% include 'includes/preloader.html.twig' %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        <div class="mdk-drawer-layout__content page-content">
            {% include 'includes/header-default.html.twig' %}
            <div class="border-bottom-2 py-32pt position-relative z-1">
                <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                    {% block breadcrumb %}
                    {% endblock %}
                    <div class="row" role="tablist">
                        <div class="col-auto border-left">
                            <strong class="m-0">{{ toMoneyFormat(account.manager.ManagerAccountCurrentSLPBalance) }} SLP</strong>
                            <p class="text-50 mb-0 d-flex align-items-center">
                                <em data-toggle="tooltip" title="Small Love Potion">SLP</em>&nbsp;Balance
                            </p>
                        </div>
                        <div class="col-auto border-left">
                            <strong class="m-0">&#8369; {{ account.manager.getFormattedBalance }} AXS</strong>
                            <p class="text-50 mb-0 d-flex align-items-center">
                                AXS Balance
                            </p>
                        </div>
                        <div class="col-auto border-left">
                            <a href="#" class="btn btn-accent {% if account.manager.ManagerAccountCurrentSLPBalance == 0 %}disabled{% endif %}">Withdraw</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid page__container" id="app-body">
                {% block content %}
                {% endblock %}
            </div>
            {% include 'includes/footer.html.twig' %}
        </div>
        {% include 'includes/manager/drawer-manager.html.twig' %}
    </div>
    {% include 'includes/scripts.html.twig' %}
    {% block page_specific_scripts %}
    {% endblock %}
    </body>
{% endblock %}