{% extends 'base.html.twig' %}
{% block body %}
    <body class="layout-boxed layout-sticky-subnav">
    {% include 'includes/preloader.html.twig' %}
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'includes/scripts.html.twig' %}
    </body>
{% endblock %}