{% extends 'base.html.twig' %}
{% block body %}
    <body class="layout-boxed layout-sticky-subnav">
    {% include 'includes/preloader.html.twig' %}

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                xfbml            : true,
                version          : 'v12.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution="install_email"
         attribution_version="biz_inbox"
         page_id="101098615627500">
    </div>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'includes/scripts.html.twig' %}
    </body>
{% endblock %}