<div id="header" class="mdk-header js-mdk-header mb-0" data-fixed>
    <div class="mdk-header__content">
        <div class="navbar navbar-expand navbar-shadow px-0  pl-lg-16pt navbar-dark bg-body" id="default-navbar" data-primary>
            {% include 'includes/header-common.html.twig' with {'show_mail': true} %}
        </div>
    </div>
</div>