{% extends 'base-admin.html.twig' %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'section': 'Managers',
        'trails': {
            0: {
                'url': site_url('admin'),
                'name': 'Dashboard'
            },
            1: {
                'url': site_url('admin/managers'),
                'name': 'Managers'
            },
            'active': {
                'url': null,
                'name': 'New'
            }
        }
    } %}
{% endblock breadcrumb %}
{% block content %}
    <div class="container-fluid page__container">
        <div class="page-section">
            <h4>New Manager</h4>
            <div class="form-group row mb-0">
                <label class="col-form-label col-sm-2">Select User</label>
                <div class="col-sm-4">
                    <input type="password"
                           class="form-control"
                           placeholder="Password ...">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}