<div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">
    <div class="mb-24pt mb-sm-0 mr-sm-24pt">
        <h2 class="mb-0">{{ section }}</h2>
        <ol class="breadcrumb p-0 m-0">
            {% for key, page in trails %}
                {% set active = '' %}
                {% if key == 'active' %}
                    {% set active = 'active' %}
                {% endif %}
                <li class="breadcrumb-item {{ active }}">{{ page|title }}</li>
            {% endfor %}
        </ol>
    </div>
</div>