<div class="navbar navbar-expand navbar-shadow px-0 pl-lg-16pt navbar-dark bg-dark" id="default-navbar" data-primary>

    <a href="" class="navbar-brand ml-16pt">
        <img class="navbar-brand-icon mr-0 mr-lg-8pt d-lg-block d-none"
             src="{{ load_static('assets/chndrwr/images/cd-landscape-logo-cropped.png') }}" width="180" alt="Chaindrawer">
        <img class="navbar-brand-icon mr-0 mr-lg-8pt d-lg-none d-block"
             src="{{ load_static('assets/chndrwr/images/cd-logo-only.png') }}" width="53" alt="Chaindrawer">
    </a>
</div>