{% extends 'base-manager.html.twig' %}
{% block breadcrumb %}
    {% include 'includes/breadcrumb.html.twig' with {
        'section': 'Teams',
        'trails': {
            'active': {
                'url': null,
                'name': 'My Teams'
            }
        }
    } %}
{% endblock breadcrumb %}
{% block content %}
    <div class="page-section">
        <div class="row card-group-row mb-lg-8pt">
            Nothing here yet..
        </div>
    </div>
{% endblock content %}