{% extends 'base-login.html.twig' %}
{% block content %}
    <div class="pt-32pt pt-sm-64pt pb-32pt">
        <div class="container page__container">
            <div class="hero text-center pb-64pt">
                <h1>Coming Soon!</h1>
                <p class="text-50 lead measure-hero-lead mx-auto">
                    Investors fund an Axie team that <strong>{{ app }}</strong> manages &amp; train a player to play competitively &amp; earn for everyone.
                </p>
            </div>
        </div>
    </div>
{% endblock %}